@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Josefin+Sans&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Mulish:wght@200&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0, 1);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
    animation: zoom 15s ;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 35%;
    left: 15%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: "Montserrat", serif;
    font-weight: 500;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: "Josefin Sans", serif;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    font-weight: 200;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: "Baloo 2", serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764); 
    background: linear-gradient(to right, #1D2671, #C33764);
    padding: 1rem 3rem ;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover{
    opacity: .9;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg); 
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}